{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Resto</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/restaurant.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Resto</h4>
                        <p class="text-muted">Get the Best Restaurants, Cafes and Bars Recommeded near you</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="mr-2">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
                        </path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Resto</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron" style="background: linear-gradient(45deg, rgba(0,0,0,0.65) 100%, rgba(0,0,0,1) 100%), url({{ restaurant.restaurantImage }});">
            <div class="container" style="color: white;">
                <!-- <img class="float-left" src="{{ restaurant.restaurantImage }}"></div> -->
                <h1 class="jumbotron-heading">{{ restaurant.restaurantName }}</h1>
                <p class="lead">{{ restaurant.restaurantCusine }}</p>
                <p class="lead"><strong>Rating - </strong><span class="fa fa-star checked"
                        style="margin-right: 5px;"></span>{{ restaurant.restaurantRating }}</p>
                <p class="lead"><strong>Cost for Two</strong> - <span
                        style="margin-right: 5px;">&#8377;</span>{{ restaurant.restaurantCostForTwo }}</p>
                <p class="lead">{{ restaurant.restaurantAddress }}</p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 100%">
                            <h5 class="card-header">Review Summary</h5>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-left: 15px; padding-top: 20px;">
                    <h4>Reviews <span style="font-size: 14px;">({{ reviews.count }})</span></h4>
                </div>
                <div class="review-listing" style="padding-left: 15px;">
                    {% for review in reviews %}
                    <div class="row mb-3">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <p class="card-text">{{ review.text }}</p>
                            </div>
                            <div class="card-footer text-muted text-right">
                                {{ review.date }}
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>


            </div>
        </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a
                    href="../../getting-started/">getting
                    started guide</a>.</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>