<html>
    <head>
        <title>PocketDoctor-Signup</title>
        <link rel="stylesheet" type="text/css" href="Signup.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
    </head>
    <body>
        <div class="card">
            <div class="logo">
                <i class="fas fa-hamburger"></i>
                <span>RESTO</span>
            </div>
            <form>
                <div class="form-group">
                    <label for="Phone">Contact No:</label>
                    <input type="text" class="form-control" id="phone" placeholder="Enter Contact No." name="Contact">
                </div>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="Name">
                </div> &nbsp;
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                </div><br>
                <button type="submit" class="btn btn-primary">Submit</button>

                <span>Already signed up? <a href="Login.html">Login</a></span>
            </form>
        </div>
    </body>
</html>